.animated-shape-box {
    width: 150px;
    height: 150px;
    position: relative;
}

.animated-svg {
    width: 100%;
    height: 100%;
}

.ellipse-origin,
.line-origin {
    opacity: 0;
}

/* 2K monitors (2560x1440) */
@media (min-width: 2400px) {
    .animated-shape-box {
        width: 200px;
        height: 200px;
    }
}

/* 4K monitors (3840x2160) */
@media (min-width: 3800px) {
    .animated-shape-box {
        width: 300px;
        height: 300px;
    }
}
